*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    border:solid RED 2px ;
display: flex;
justify-content: space-between;

    ul{
        display: flex;
        
    
       
  list-style: none;
    a{
        
        text-decoration: none;
        color: black;
    }
}

}

section{
    border: solid red 2px;
}
